apiVersion: v1
kind: Service

metadata:
  name: kafka-server

spec:
  clusterIP: None
  selector:
    app: kafka-server
  ports:
    - name: broker
      port: 9092
      targetPort: 9092
    - name: controller
      port: 9093
      targetPort: 9093
      