apiVersion: apps/v1
kind: Deployment

metadata:
  name: gateway-service

spec:
  replicas: 2
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: gateway-service
          image: 267837905230.dkr.ecr.ap-northeast-2.amazonaws.com/board-system/gateway-service:latest
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: gateway-secret