apiVersion: apps/v1
kind: Deployment

metadata:
  name: user-service

spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: 267837905230.dkr.ecr.ap-northeast-2.amazonaws.com/board-system/user-service:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: user-config
            - secretRef:
                name: user-secret