name: infra deployment

on:
  repository_dispatch:
    types: [deploy]

jobs:
  Deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ap-northeast-2
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: put-parameter
        run: |
          aws ssm put-parameter \
            --name "/prod/app/DB_HOST" \
            --value ${{ secrets.DB_HOST }} \
            --type String \
            --overwrite
          aws ssm put-parameter \
            --name "/prod/app/MYSQL_ROOT_PASSWORD" \
            --value ${{ secrets.MYSQL_ROOT_PASSWORD }} \
            --type SecureString \
            --overwrite
          aws ssm put-parameter \
            --name "/prod/app/JWT_SECRET" \
            --value ${{ secrets.JWT_SECRET }} \
            --type SecureString \
            --overwrite

      - name: zip
        run: tar -zcvf ${{ github.sha }}.tar.gz appspec.yaml scripts

      - name: s3 upload
        run: aws s3 cp --region ap-northeast-2 ${{ github.sha }}.tar.gz s3://board-system-bucket/${{ github.sha }}

      - name: deploy
        run: |
          aws deploy create-deployment \
            --application-name board-system-application \
            --deployment-config-name CodeDeployDefault.AllAtOnce \
            --deployment-group-name board-system-dployment-group \
            --s3-location bucket=board-system-bucket,bundleType=tgz,key=${{ github.sha }}.tar.gz

      # - name: ec2 SSH
      #   uses: appleboy/ssh-action@v1.0.3
      #   env:
      #     MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
      #     JWT_SECRET: ${{ secrets.JWT_SECRET }}
      #   with:
      #     host: ${{ secrets.EC2_HOST }}
      #     username: ${{ secrets.EC2_USERNAME }}
      #     key: ${{ secrets.EC2_PRIVATE_KEY }}
      #     envs: MYSQL_ROOT_PASSWORD, JWT_SECRET
      #     script_stop: true
      #     script: |
      #       cd msa-infra
      #       docker compose pull
      #       docker compose up -d
