name: infra deployment

on:
  repository_dispatch:
    types: [deploy]

jobs:
  Deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: ec2 SSH
        uses: appleboy/ssh-action@v1.0.3
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          envs: MYSQL_ROOT_PASSWORD
          script_stop: true
          script: |
            cd msa-infra
            docker compose pull
            docker compose up -d
