name: infra deployment

on:
  repository_dispatch:
    types: [deploy]

jobs:
  Deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      # - name: put-parameter
      #   run: |
      #     aws ssm put-parameter \
      #       --name "/prod/app/DB_HOST" \
      #       --value ${{ secrets.DB_HOST }} \
      #       --type String \
      #       --overwrite
      #     aws ssm put-parameter \
      #       --name "/prod/app/MYSQL_ROOT_PASSWORD" \
      #       --value ${{ secrets.MYSQL_ROOT_PASSWORD }} \
      #       --type SecureString \
      #       --overwrite
      #     aws ssm put-parameter \
      #       --name "/prod/app/JWT_SECRET" \
      #       --value ${{ secrets.JWT_SECRET }} \
      #       --type SecureString \
      #       --overwrite

      - name: Show payload
        run: echo "Service = ${{ github.event.client_payload.service }}"

      - name: ec2 SSH
        uses: appleboy/ssh-action@v1.0.3
        env:
          DB_HOST: ${{ secrets.DB_HOST }}
          MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
          JWT_SECRET: ${{ secrets.JWT_SECRET }}
          SERVICE: ${{ github.event.client_payload.service }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          envs: DB_HOST, MYSQL_ROOT_PASSWORD, JWT_SECRET, SERVICE
          script_stop: true
          script: |
            cd /home/ubuntu/msa-infra

            kubectl apply -f k8s/mysql
            kubectl apply -f k8s/cache
            kubectl apply -f k8s/kafka
            
            SERVICE="${SERVICE}"

            if [ "${SERVICE}" = "user-service" ]; then
              kubectl apply -f k8s/user
              kubectl rollout restart deployment user-service
            elif [ "${SERVICE}" = "board-service" ]; then
              kubectl apply -f k8s/board
              kubectl rollout restart deployment board-service
            elif [ "${SERVICE}" = "point-service" ]; then
              kubectl apply -f k8s/point
              kubectl rollout restart deployment point-service
            elif [ "${SERVICE}" = "gateway-service" ]; then
              kubectl apply -f k8s/gateway
              kubectl rollout restart deployment gateway-service
            else
              echo "Unknown service: ${SERVICE}"
              exit 1
            fi
            