name: infra deploy

on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string

jobs:
  Deploy:
    runs-on: ubuntu-latest
    env:
      MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
    steps:
      - name: ec2 SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          env:
            MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
          script: |
            SERVICE=${{ inputs.service }}
            docker compose pull $SERVICE
            docker compose up -d $SERVICE
