name: infra deployment

on:
  repository_dispatch:
    types: [deploy]

jobs:
  Deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: debug
        run: |
          echo "SERVICE=${{ github.event.client_payload.service }}"
          echo "PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }}"
          echo "HOST=${{ secrets.EC2_HOST }}"
          echo "USER=${{ secrets.EC2_USERNAME }}"
          echo "KEY=${{ secrets.EC2_PRIVATE_KEY }}"
        
      - name: ec2 SSH
        uses: appleboy/ssh-action@v1
        env:
          MYSQL_ROOT_PASSWORD: ${{ secrets.MYSQL_ROOT_PASSWORD }}
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          envs: MYSQL_ROOT_PASSWORD
          script: |
            SERVICE=${{ github.event.client_payload.service }}
            docker compose pull $SERVICE
            docker compose up -d $SERVICE
