name: infra deploy

on:
  repository_dispatch:
    types: [deploy]

jobs:
  Deploy:
    runs-on: ubuntu-latest
    steps:
      - name: ec2 SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            SERVICE=${{ github.event.client_payload.service }}
            docker compose pull $SERVICE
            docker compose up -d $SERVICE
